

.topnav  a{
	color: white;
}
.topnav {
    overflow: hidden;
    background-color: #333;
	color: white;
}

.loginfield {
	border: 2px solid #a8afb3;
	border-radius: 5px;
	
	/*Position*/
	position: fixed;
	right: 180px;
}

.loginelement {
	position: fixed;
	right: 200px;
}

.subscribe {
	color: white;
}

body {
	background-image: url("Background.jpg");
}

h1 {
	color: blue;
}

header, footer {
	padding: 1em;
	color: white;
	background-color: red;
	clear: left;
	text-align: center;
}

footer {
	position:fixed;
	bottom: 0;
	width: 100%;
}