

.topnav  a{
	color: white;
}
.topnav {
    overflow: hidden;
    background-color: #333;
	color: white;
}

body {
	background-image: url("Background.jpg");
}

h1 {
	color: blue;
}

header, footer {
	padding: 1em;
	color: white;
	background-color: red;
	clear: left;
	text-align: center;
}

.subscribe {
	color: white;

}